extends ../layout

block mainContent
    .row
        .col-12
            .kt-portlet.kt-portlet--height-fluid.kt-portlet--height-fluid-transparent
                .kt-portlet__head
                    .kt-portlet__head-label
                        span.kt-portlet__head-icon
                            i.margin-auto.la.la-balance-scale
                        h3.kt-portlet__head-title Anuncios
    #documentosList
        .row
            .col-12
                .kt-portlet.kt-portlet--height-fluid
                    form#form(data-method!=method)
                        input#id.form-control.my-input.property-name(type='hidden' name='id' value!=data['id'])
                        .document-property-container
                            .row.width1024
                                .col-lg-8.col-md-12
                                    .kt-portlet__body.my-card.add-card-body
                                        .form-control-sec
                                            input#name.form-control.my-input.property-name(name='name' placeholder='Nombre de la Propiedad' value!=data['name'] readonly)
                                        .form-control-sec
                                            input#address.form-control.my-input.property-address(name='address' placeholder='Dirección' value!=data['address'] readonly)
                                        .row.property-select2-sec
                                            .col-md-3.my-input-sec
                                                p.white-p Tipo
                                                input#type.form-control.my-input(name='type' placeholder='type' value!=data['type'] readonly)
                                                input#type1.form-control.my-input.property-address(type='hidden' name='type1')
                                            .col-md-3.my-input-sec
                                                p.white-p Habitaciones
                                                input#type.form-control.my-input(name='rooms' placeholder='type' value!=data['rooms'] readonly)
                                                input#rooms1.form-control.my-input.property-address(type='hidden' name='rooms1')
                                            .col-md-3.my-input-sec
                                                p.white-p Baños
                                                input#type.form-control.my-input(name='baths' placeholder='type' value!=data['baths'] readonly)
                                                input#baths1.form-control.my-input.property-address(type='hidden' name='baths1')
                                            .col-md-3.my-input-sec
                                                p.white-p Metros
                                                input#surface.form-control.my-input.property-surface(placeholder='Metros' name='surface' type='number' value!=data['surface'] readonly)
                                .col-lg-4.col-md12
                                    .kt-portlet__body.add-card-body
                                        //div
                                        .kt-portlet.kt-portlet--height-fluid.transparent
                                            #price.price-button-container
                                                if userName == ""
                                                    a#buy_btn.btn.btn-success.price-button.rb-btn-green(href="/login")
                                                        | Contratar
                                                else
                                                    a#buy_btn.btn.btn-success.price-button.rb-btn-green(href="/application?id=" + data['id'])
                                                        | Contratar
                                                .price-description
                                                    p.price-title
                                                        | Aquiler mensual
                                                    p.price-value
                                                        =data['price'] 
                                                        |  €
                                                    .disponible-desde
                                                        | Disponible desde: 
                                                        span.disponible-desde-date=data['availableForm']
                        .document-detail-container
                            .row
                                .col-md-12
                                    #photos.row.row-spacing-10
                                        //.col-md-4
                                        //    #photo1.image-100.dropzone
                                        //    // <img class="image-100" src="images/add_photo.svg" alt="add photo"/>
                                        //.col-md-4
                                        //    #photo2.image-100.dropzone
                                        //    // <img class="image-100" src="images/add_photo.svg" alt="add photo"/>
                                        //.col-md-4
                                        //    #photo3.image-100.dropzone
                                        //    // <img class="image-100" src="images/add_photo.svg" alt="add photo"/>
                            //- .row
                            //-     .col-lg-4.col-md-3
                            //-         p Precio del Alquiler mensual
                            //-         .input-group.price-input-sec
                            //-             .input-group-prepend
                            //-                 span.input-group-text €
                            //-             input#monthlyPrice.form-control.price-input.price-input-real(name='monthlyPrice' placeholder='Precio del Alquiler mensual' type='number' value!=data['monthlyPrice'] readonly)
                            //-     .col-lg-4.col-md-3
                            //-         p Fianza
                            //-         .input-group.price-input-sec
                            //-             .input-group-prepend
                            //-                 span.input-group-text €
                            //-             input#securityDeposit.form-control.price-input.price-input-real(name='securityDeposit' placeholder='Fianza' type='number' value!=data['securityDeposit'] readonly)
                            .description-container.row
                                .content-container.col-md-12
                                    div
                                        p#description.content-font=data['description']
                            .row
                                .content-container.col-md-12
                                    div(style="position: absolute;width: 100%;height: 479px;top: 0px;z-index: 100;")
                                    .amenities-container
                                        .title-content.text-padding-1
                                            | Características
                                        .row.amenities-list
                                            .col-md-6
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning.kt-disabled
                                                        input#washer(type="checkbox" name="washer" checked=data['washer'] == 1)
                                                        span
                                                        i.fas.fa-tshirt
                                                        | Lavadora / Secadora
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#gym(type="checkbox" name="gym" checked=data['gym'] == 1)
                                                        span
                                                        i.fas.fa-dumbbell
                                                        | Trastero
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#parkingSpot(type="checkbox" name="parkingSpot" checked=data['parkingSpot'] == 1)
                                                        span
                                                        i.fas.fa-parking
                                                        | Parking
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#airConditioning(type="checkbox" name="airConditioning" checked=data['airConditioning'] == 1)
                                                        span
                                                        i.fas.fa-fan
                                                        | Aire acondicionado
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#dishwasher(type="checkbox" name="dishwasher" checked=data['dishwasher'] == 1)
                                                        span
                                                        i.fas.fa-bacon
                                                        | Lavaplatos
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#storage(type="checkbox" name="storage" checked=data['storage'] == 1)
                                                        span
                                                        i.fas.fa-archive
                                                        | Armarios
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#hardwoodFloors(type="checkbox" name="hardwoodFloors" checked=data['hardwoodFloors'] == 1)
                                                        span
                                                        i.fas.fa-campground
                                                        | Parquet
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#balcony(type="checkbox" name="balcony" checked=data['balcony'] == 1)
                                                        span
                                                        i.fas.fa-chair
                                                        | Terraza
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#view(type="checkbox" name="view" checked=data['view'] == 1)
                                                        span
                                                        i.fas.fa-eye
                                                        | Calefacción
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#studentFriendly(type="checkbox" name="studentFriendly" checked=data['studentFriendly'] == 1)
                                                        span
                                                        i.fas.fa-graduation-cap
                                                        | Acepta estudiantes
                                            .col-md-6
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#pool(type="checkbox" name="pool" checked=data['pool'] == 1)
                                                        span
                                                        i.fas.fa-swimming-pool
                                                        | Piscina
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#elevator(type="checkbox" name="elevator" checked=data['elevator'] == 1)
                                                        span
                                                        i.fas.fa-suitcase
                                                        | Ascensor
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#fireplace(type="checkbox" name="fireplace" checked=data['fireplace'] == 1)
                                                        span
                                                        i.fas.fa-fire-alt
                                                        | Horno
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#doorman(type="checkbox" name="doorman" checked=data['doorman'] == 1)
                                                        span
                                                        i.fas.fa-user-alt
                                                        | Portero
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#deck(type="checkbox" name="deck" checked=data['deck'] == 1)
                                                        span
                                                        i.fas.fa-umbrella-beach
                                                        | Microondas
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#wheelchairAccessible(type="checkbox" name="wheelchairAccessible" checked=data['wheelchairAccessible'] == 1)
                                                        span
                                                        i.fas.fa-wheelchair
                                                        | Acceso adaptado
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#garden(type="checkbox" name="garden" checked=data['garden'] == 1)
                                                        span
                                                        i.fas.fa-leaf
                                                        | Jardín
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#furnished(type="checkbox" name="furnished" checked=data['furnished'] == 1)
                                                        span
                                                        i.fas.fa-couch
                                                        | Amueblado
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#highRise(type="checkbox" name="highRise" checked=data['highRise'] == 1)
                                                        span
                                                        i.fas.fa-gopuram
                                                        | Nevera
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#utilitiesIncluded(type="checkbox" name="utilitiesIncluded" checked=data['utilitiesIncluded'] == 1)
                                                        span
                                                        i.fas.fa-tint
                                                        | Suministros incluidos
                            
                            .avaliable-container.row
                                .col-md-12
                                    #gmap.kt-portlet__body.property-map-card
                                
    #gallery_container(style="display: none;")
        #bg
            a.nextImageBtn(href='#', title='next')
            a.prevImageBtn(href='#', title='previous')
            img#bgimg(src='images/Universe_and_planets_digital_art_wallpaper_denebola.jpg', width='1680', height='1050', alt='Denebola', title='Denebola')
        #preloader
            img(src='/images/ajax-loader_dark.gif', width='32', height='32')
        span.close
            | &times;
        #toolbar(style="display:none;")
            a(href='#', title='Maximize', onclick="ImageViewMode('full');return false")
                img(src='/images/toolbar_fs_icon.png', width='50', height='50')
        #thumbnails_wrapper
            #outer_container
                .thumbScroller
                    #gallery_image_container.container


