extends ../layout

block mainContent
    .row
        .col-12
            .kt-portlet.kt-portlet--height-fluid.kt-portlet--height-fluid-transparent
                .kt-portlet__head
                    .kt-portlet__head-label
                        span.kt-portlet__head-icon
                            i.margin-auto.la.la-balance-scale
                        h3.kt-portlet__head-title Anuncios
    #documentosList
        .row
            .col-12
                .kt-portlet.kt-portlet--height-fluid
                    form#form(action='' data-method!=method)
                        input#id.form-control.my-input.property-name(type='hidden' name='id' value!=data['id'])
                        .document-property-container
                            .row
                                .col-lg-8.col-md-12
                                    .kt-portlet__body.my-card.add-card-body
                                        .form-control-sec
                                            input#name.form-control.my-input.property-name(name='name' placeholder='Nombre de la Propiedad' value!=data['name'])
                                        .form-control-sec
                                            input#address.form-control.my-input.property-address(name='address' placeholder='Dirección' value!=data['address'])
                                        .row.property-select2-sec
                                            .col-md-3.my-input-sec
                                                p.white-p Tipo
                                                select#type.form-control.kt-select2.my-input.select2-transparent(name='type')
                                                    option
                                                        for type in types
                                                            option(value!=type selected=(data['type'] == type))=type
                                                input#type1.form-control.my-input.property-address(type='hidden' name='type1')
                                            .col-md-3.my-input-sec
                                                p.white-p Habitaciones
                                                select#rooms.form-control.kt-select2.my-input.select2-transparent(name='rooms')
                                                    option
                                                        for room in rooms
                                                            option(value!=room selected=(data['rooms'] == room))=room
                                                input#rooms1.form-control.my-input.property-address(type='hidden' name='rooms1')
                                            .col-md-3.my-input-sec
                                                p.white-p Baños
                                                select#baths.form-control.kt-select2.my-input.select2-transparent(name='baths')
                                                    option
                                                        for bath in baths
                                                            option(value!=bath selected=(data['baths'] == bath))=bath
                                                input#baths1.form-control.my-input.property-address(type='hidden' name='baths1')
                                            .col-md-3.my-input-sec
                                                p.white-p Metros
                                                input#surface.form-control.my-input.property-surface(placeholder='Metros' name='surface' type='number' value!=data['surface'])
                                .col-lg-4.col-md12
                                    .kt-portlet__body.add-card-body
                                        //div
                                        .kt-portlet.kt-portlet--height-fluid
                                                #gmap.kt-portlet__body.property-map-card
                        .document-detail-container
                            .row
                                .col-md-8
                                    #photos.row.row-spacing-10
                                        //.col-md-4
                                        //    #photo1.image-100.dropzone
                                        //    // <img class="image-100" src="images/add_photo.svg" alt="add photo"/>
                                        //.col-md-4
                                        //    #photo2.image-100.dropzone
                                        //    // <img class="image-100" src="images/add_photo.svg" alt="add photo"/>
                                        //.col-md-4
                                        //    #photo3.image-100.dropzone
                                        //    // <img class="image-100" src="images/add_photo.svg" alt="add photo"/>
                                .col-md-4.hidden-sm-down
                                    .detail-container.first-detail-container
                                        div
                                            p
                                                | A los inquilinos les gusta ver fotos de la propiedad. Recomendamos que la primera foto sea de la fachada.
                                        .text-right.goot-it-font
                                            //a.goot-it-font Goot it
                            .row
                                .col-lg-4.col-md-3
                                    p Precio del Alquiler mensual
                                    .input-group.price-input-sec
                                        .input-group-prepend
                                            span.input-group-text €
                                        input#monthlyPrice.form-control.price-input.price-input-real(name='monthlyPrice' placeholder='Precio del Alquiler mensual' type='number' value!=data['monthlyPrice'])
                                .col-lg-4.col-md-3
                                    p Fianza
                                    .input-group.price-input-sec
                                        .input-group-prepend
                                            span.input-group-text €
                                        input#securityDeposit.form-control.price-input.price-input-real(name='securityDeposit' placeholder='Fianza' type='number' value!=data['securityDeposit'])
                            .description-container.row
                                .content-container.col-md-8
                                    div
                                        textarea#description.form-control.content-font.description-rectangle.price-input(name='description' placeholder='Description' rows='5')=data['description']
                                        span.form-text.text-muted.text-right Mínimo 140 carácteres
                                .col-md-4.hidden-sm-down
                                    .detail-container
                                        div
                                            p
                                                | Describe lo que diferencia tu propiedad de las demás.
                                        .text-right.goot-it-font
                                            //a.goot-it-font Goot it
                            .row
                                .content-container.col-md-8
                                    .amenities-container
                                        .title-content.text-padding-1
                                            | Características
                                        .row.amenities-list
                                            .col-md-6
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#washer(type="checkbox" name="washer" checked=data['washer'] == 1)
                                                        span
                                                        i.fas.fa-tshirt
                                                        | Lavadora / Secadora
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#gym(type="checkbox" name="gym" checked=data['gym'] == 1)
                                                        span
                                                        i.fas.fa-dumbbell
                                                        | Trastero
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#parkingSpot(type="checkbox" name="parkingSpot" checked=data['parkingSpot'] == 1)
                                                        span
                                                        i.fas.fa-parking
                                                        | Parking
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#airConditioning(type="checkbox" name="airConditioning" checked=data['airConditioning'] == 1)
                                                        span
                                                        i.fas.fa-fan
                                                        | Aire acondicionado
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#dishwasher(type="checkbox" name="dishwasher" checked=data['dishwasher'] == 1)
                                                        span
                                                        i.fas.fa-bacon
                                                        | Lavaplatos
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#storage(type="checkbox" name="storage" checked=data['storage'] == 1)
                                                        span
                                                        i.fas.fa-archive
                                                        | Armarios
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#hardwoodFloors(type="checkbox" name="hardwoodFloors" checked=data['hardwoodFloors'] == 1)
                                                        span
                                                        i.fas.fa-campground
                                                        | Parquet
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#balcony(type="checkbox" name="balcony" checked=data['balcony'] == 1)
                                                        span
                                                        i.fas.fa-chair
                                                        | Terraza
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#view(type="checkbox" name="view" checked=data['view'] == 1)
                                                        span
                                                        i.fas.fa-eye
                                                        | Calefacción
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#studentFriendly(type="checkbox" name="studentFriendly" checked=data['studentFriendly'] == 1)
                                                        span
                                                        i.fas.fa-graduation-cap
                                                        | Acepta estudiantes
                                            .col-md-6
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#pool(type="checkbox" name="pool" checked=data['pool'] == 1)
                                                        span
                                                        i.fas.fa-swimming-pool
                                                        | Piscina
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#elevator(type="checkbox" name="elevator" checked=data['elevator'] == 1)
                                                        span
                                                        i.fas.fa-suitcase
                                                        | Ascensor
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#fireplace(type="checkbox" name="fireplace" checked=data['fireplace'] == 1)
                                                        span
                                                        i.fas.fa-fire-alt
                                                        | Horno
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#doorman(type="checkbox" name="doorman" checked=data['doorman'] == 1)
                                                        span
                                                        i.fas.fa-user-alt
                                                        | Portero
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#deck(type="checkbox" name="deck" checked=data['deck'] == 1)
                                                        span
                                                        i.fas.fa-umbrella-beach
                                                        | Microondas
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#wheelchairAccessible(type="checkbox" name="wheelchairAccessible" checked=data['wheelchairAccessible'] == 1)
                                                        span
                                                        i.fas.fa-wheelchair
                                                        | Acceso adaptado
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#garden(type="checkbox" name="garden" checked=data['garden'] == 1)
                                                        span
                                                        i.fas.fa-leaf
                                                        | Jardín
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#furnished(type="checkbox" name="furnished" checked=data['furnished'] == 1)
                                                        span
                                                        i.fas.fa-couch
                                                        | Amueblado
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#highRise(type="checkbox" name="highRise" checked=data['highRise'] == 1)
                                                        span
                                                        i.fas.fa-gopuram
                                                        | Nevera
                                                .amenities-item
                                                    label.kt-checkbox.kt-checkbox--warning
                                                        input#utilitiesIncluded(type="checkbox" name="utilitiesIncluded" checked=data['utilitiesIncluded'] == 1)
                                                        span
                                                        i.fas.fa-tint
                                                        | Suministros incluidos
                                .col-md-4
                                    .detail-container.text-padding-1
                                        div
                                            p
                                                | Marca las características que posee tu inmueble. A los inquilinos les gusta conocer lo que tu propiedad ofrece.
                                        .text-right.goot-it-font
                                            //a.goot-it-font Goot it
                            .avaliable-container.row
                                .content-container.col-lg-8.col-md-12
                                    div
                                        .input-group.date.col-lg-6.col-md-6
                                            .input-group-prepend
                                                span.input-group-text
                                                    i.la.la-calendar
                                            input#availableForm.form-control.price-input(type="text" name='availableForm' placeholder="Available from" readonly value=data['availableForm'])

                                        .col
                                            .available-free Publica tu anuncio
                                            .row
                                                .available-trovit
                                                    label(style="width:80px;") Trovit
                                                    span.kt-switch.kt-switch--outline.kt-switch--icon.kt-switch--success
                                                        label
                                                            input#freeListingTrovit(type='checkbox' name='freeListingTrovit' value=data['freeListingTrovit'] checked=data['freeListingTrovit'] == 1)
                                                            span
                                            .row
                                                .available-trovit
                                                    label(style="width:80px;") Mitula
                                                    span.kt-switch.kt-switch--outline.kt-switch--icon.kt-switch--success
                                                        label
                                                            input#freeListingTrovit(type='checkbox' name='freeListingMitula' value=data['freeListingMitula'] checked=data['freeListingMitula'] == 1)
                                                            span

                                .col-lg-4.col-md-12
                                    .detail-container
                                        div
                                            p
                                                | Especifica cuando tu propiedad estará disponible para ser alquilada.
                                        .text-right.goot-it-font
                                            //a.goot-it-font Goot it
                    .avaliable-container.row
                        .col-md-8
                            .form-control-sec.property-create-button-sec
                                button#saveButton.btn.btn-secondary.edit-button.btn-elevate.btn-pill.property-create-button(type='button')
                                    if (data['id'])
                                        | Guardar
                                    else
                                        | Crear Propiedad
                                if (data['id'])
                                    button#backButton.btn.btn-secondary.back-button.btn-elevate.btn-pill.property-create-button(type='button')
                                        | Atrás

